.EditUser {
    padding: 65px 10px 10px 10px;

    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    background: white;
    overflow: auto;
}

.nameAndStudentInfo{
    display: flex;
    flex-direction: column;
    height: 38%;
}

.student{
    background: lightgrey;
    border-radius: 0 10px 0 0;
    margin: 10px 0 0 0;
}

.studentsInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#infos{
    display: flex;
    height: 20px;
}

#profilePic{
    height: 30px;
    width: 30px;
    border-radius: 360%;
}

.result {
    margin-left: 8px;
}

p {
    font-size: 13px;
    margin: 0px;
}

.newStudentInfoDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    height: 62%;
}

.studentInfoInput {
    border: black solid 1.5px;
    background: white;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    margin: 5px 5px 5px 0;
}

#firstName {
    width: 40%;
}

#lasName {
    width: 40%;
}

#city{
    margin-right: 0%;
    width: 35%;
}

#state {
    margin-right: 0%;
}

#zipcode {
    width: 25%;
}

#singleRowItem {
    width: 100%;
}

#userType {
    margin: 0
}

#editUserButton {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}