.adminLandingRoutes{
    width: 100%;
    height: 100vh;
    /* position: relative; */
    overflow-x: hidden;

}

.adminLanding{
    padding-top: 60px;
    height: 45px;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* overflow-x: hidden; */
    /* background: lightgray; */

}

.adminLinks{
    height: 100%;
    width: 25%;
    text-decoration: none;
    border-left: white solid 1px;
    
}

.adminOption{
    margin: 0;
    padding: 12px 0 12px 0;
    font-size: 13px;
    color: #ffffff;
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    
}

#active .adminOption {
  background: black;
}


html {
    width: 100%;
    height: 100vh;
}