.adminLandingRoutes{
    width: 100%;
    height: 100vh;
    position: relative;
}

.adminLanding{
    padding-top: 120px;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: white;
    box-sizing: border-box;
    align-items: center;
    position: relative;

}

.adminLinks{
    height: 35px;
    width: 25%;

}

.adminOption{
    margin: 0;
    font-size: 13px;
    color: #ffffff;
    background: black;
    height: 100%;
    width: 85%;
    padding: 0;
    border-radius: 5px;
}

html {
    width: 100%;
    height: 100vh;
}