/* html {
    width: 100%;
    height: 100vh;
} */

.studentDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 130px;
    box-sizing: border-box;
    background: #e8e8e5;
    margin: 30px 10px 0 10px;;
    border-radius: 7px;
    /* width: 100%; */
    
}

.infoCheckBoxDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 2px;
    height: 100%;
    box-sizing: border-box;
}
.studentName {
    margin: 0;
    background: black;
    color: white;
    width: 100%;
    font-weight: bold;
    border-radius: 5px 5px 0 0px;
    box-sizing: border-box;
}

.parentStudentDiv {
    display: flex;
    flex-direction: column;
    width: 77%;
}

.presentAbsentCheckBoxes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checkboxWLabel{
    display: flex;
    flex-direction: row;
}

#psInfo {
   font-size: 16px; 
}

#sN{
    font-size: 20px;
    padding: 5px;
}

@media(min-width: 0500px) {
    #sN{
        font-size: 25px;
    }

    #psInfo {
        font-size: 18px;
    }
}