.privatesInfoDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 75%;
}

.privateInfo {
    width: 80%;
    height: 15%;
    border: black solid 2px;
    background: white;
    margin: 0 0 30px 0;
}


.schedulePrivate{
background: black;
color: white;
width: 150px;
height: 50px;
font-size: 16px;
font-weight: bold;
}