.CreateUser {
    background: blue;
    width: 100%;
    height: 100vh;
    padding-top:100px;
    display: flex;
    flex-direction: column;
}

.user{
    margin: 15px;
}

#createUser {
    height: 75%;
    padding: 10px;
}