.EditCourse{
    padding-top: 100px;
    height: 100vh;
    width: 100%;
}

.courseTitle {
    background: lightgray;
    border-radius: 0 5px 0 0;
    text-align: left;
    padding-left: 10px;
    margin: 0;
}

#previosInfo{
    padding: 5px;
}

.newInfo{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.textFieldsDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.selectBoxesDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.newInfoInput {
    width: 28%;
    height: 30px;
    border: black solid 2px;
    background: white;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#title {
    width: 45%;
}

#num {
    width: 20%;
}

.teacherPicNameDiv{
    width: 60px;
    text-align: center;
}

.teacherName {
    text-align: center;
}

.updateButton {
    height: 60px;
    width: 50%;
    background: black;
    color: white;
    border-radius: 5px;
}

.instructions{
    font-size: 15px;
    margin: 0;
    width: 100%;
}