#EditCourse{
    padding-top: 60px;
}

.courseTitle {
    background: lightgray;
    border-radius: 0 5px 0 0;
    text-align: left;
    padding-left: 10px;
    margin: 0;
}

#previosInfo{
    padding: 5px;
}

.newInfo{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.textFieldsDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.selectBoxesDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.newInfoInput {
    width: 35%;
    height: 30px;
    border: black solid 2px;
    background: white;
    border-radius: 5px;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
}

#title {
    width: 45%;
}

#num {
    width: 38%;
}

#smallSelect{
    width: 20%;
}

.teacherPicNameDiv{
    width: 60px;
    text-align: center;
}

.teacherName {
    text-align: center;
}

.updateButton {
    height: 60px;
    width: 50%;
    margin-top: 30px;
    background: black;
    color: white;
    border-radius: 5px;
}

.instructions{
    font-size: 15px;
    margin: 0;
    width: 100%;
}

@media (min-width: 1100px) {
    .student {
        height: 30px;
        padding-top: 10px;
        font-size: 25px;
    }

        #EditCourse {
            padding-top: 120px;
        }
    }
