.Courses {
    padding-top: 115px;
    width: 100%;
}

.deleteEditIcons {
    width: 20px;
    height: 20px;
}

.classHeader{
    margin: 0;
}

.editClassDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.iconsDiv {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
}



#iconATag {
    width: 20px;
    height: 20px;
    margin: 0;
}

#courseTitle {
    margin: 0;
    height: 30%;
}

#createCourseBut {
    margin: 0;
}

#ccButton{
    padding: 5px;
    height: 70px;
    position: fixed;
    border-radius: 360%;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%)
}

#coursesViewDiv{
    height: 80px;
}

#classInfo{
    height: 70%;
}

.descriptionText{
    font-size: 18px;
}

#labels{
    font-weight: bold;
}