.createCourse {
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

.courseInput {
    margin: 14px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 40px;
    border-radius: 12px;
}

.createCourseHeader{
    color: #e1f5fe;
}

.createCourseDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    box-sizing: border-box;
    height: 79%;
    width: 100%;
}

#createCourseInput {
    width: 80%;
    height: 36px;
}

.selectTeacherAndButtonDiv{
    width: 100%;
    height: 275px;
}

.selectTeacherLabel{
    text-align: center;
    font-size: 18px;
    margin: 10px;
}

.teachersDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    width: 100%;
}

.teacherDiv{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70px;
    margin: 0 5px 0 5px;
}

#createCourseButton{
    margin-top: 40px;
}

.teacherPics {
    height: 60px;
    width: 60px;
    border-radius: 360%;
}

.teacherName {
    font-size: 12px;
}

.teacherPics:active {
    height: 60px;
    width: 60px;
}