.dailyView {
    padding: 100px 0 0 0;
    background: #ffffff;
    height: 100vh;
    width: 100%;
    color: #afc2cb;
}


.schedule {
    font-size: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 10px;
}

.scheduleLab {
    margin: 0;
}

.classTime {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 5px;
    height: 28px;
    box-sizing: border-box;

}

.course {
    background:#e1f5fe;
    color: #afc2cb;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 17px;
    text-align: center;
    padding-top: 3px;
    border-radius: 12px;
}

.courseBox {
    width: 100%;
    height: 100%;
    margin-left: 20px;
}

a {
    width: 90%;
    height: 100%;
    margin-left: 20px;
    text-decoration: none;
}