.dailyView {
    padding: 100px 0 0 0;
    background: #ffffff;
    height: 100vh;
    width: 100%;
    color: black;
    box-sizing: border-box;
    position: relative;
    overflow: auto;
}

#teacherName {
    color: black;
    background: white;
    height: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    border: solid 3px black;
}

.datePickerDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dateToggle{
    width: 28px;
    height: 28px;
}

.schedule {
    font-size: 12px;
    width: 99%;
    /* height: 88%; */
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 10px;
    box-sizing: border-box;
}

.scheduleLab {
    margin: 0;
}

.classTime {
    display: flex;
    align-items: center;
    width: 95%;
    margin: 7px;
    height: 50px;
    box-sizing: border-box;

}

#atag {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    height: 100%;
    margin-left: 20px;
    text-decoration: none;
    background: #e8e8e5;
    border-radius: 12px;
}
.courseBox {
    width: 100%;
    height: 100%;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 7px;
}

.course {
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100%;
    font-size: 25px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 12px;
    padding-top: 10px;

}


.datePicker {
    position: fixed;
    left: 50%;
    transform: translateX(-50%) translateY(10px);

}

@media(min-width: 1000px) {
    .dailyView {
        width: 70%;
        margin-top: 130px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 2px 3px 10px black;
        height: 85%;
        padding-top: 25px;
        overflow: auto;
    }

    .classTime {
        height: 18%;
    }

    .course {
        font-size: 25px;
        padding-top: 5px;
        
    }
}
