.dailyView {
    padding: 100px 0 0 0;
    background: #ffffff;
    height: 100vh;
    width: 100%;
    color: black;
    box-sizing: border-box;
}

#teacherName {
    color: black;
    background: white;
    height: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    border: solid 3px black;
}

.datePickerDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dateToggle{
    width: 28px;
    height: 28px;
}

.schedule {
    font-size: 12px;
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 10px;
    box-sizing: border-box;
}

.scheduleLab {
    margin: 0;
}

.classTime {
    display: flex;
    align-items: center;
    width: 95%;
    margin: 7px;
    height: 28px;
    box-sizing: border-box;

}

#atag {
    width: 80%;
    height: 100%;
    margin-left: 20px;
    text-decoration: none;
}

.course {
    background:black;
    color: white;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 17px;
    text-align: center;
    padding-top: 3px;
    border-radius: 12px;
    box-sizing: border-box;
}

.courseBox {
    width: 100%;
    height: 100%;
    margin-left: 0px;
}

.datePicker {
    position: fixed;
    left: 50%;
    transform: translateX(-50%) translateY(10px);

}