.dailyView {
    padding: 100px 0 0 0;
    background: grey;
    height: 100vh;
    width: 100%;
}

.schedule {
    font-size: 12px;
    width: 100%;
    display: flex;
    justify-content: left;
    padding-left: 10px;
}

.course {
    margin-left: 10px;
    background:lightpink;
}

.classBox {
    width: 70%;
}