

.TrackHours {
    padding-top: 150px;
    padding-left: 10px;
    padding-right: 10px;
    height: 60vh;
    width: 100%;
    box-sizing: border-box;
}

.thHeader {
    height: 50px;
    width: 100%;
    box-sizing: border-box;
}

.dateSelectorDiv {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: flex-start;
    flex-direction: row;
}

.dateTitleCol{
    display: flex;
    flex-direction: column;
}

.datePickerTH {
    position: relative;
    z-index: 4;
    margin: 8px;
}

.selectTeacher{
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 156px;
}

.react-date-picker__button {
    position: relative;
}
