

.TrackHours {
    /* margin-top: 50px; */
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    background: white;
    /* overflow-x: hidden; */
}

.thHeader {
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin: 8px 0 0 0;
}

.dateSelectorDiv {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 40px;

}

.dateTitleCol{
    display: flex;
    flex-direction: column;
}

.datePickerTH {
    z-index: 4;
    position: fixed;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
}

.selectTeacher{
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 156px;
    border: black solid 2px;
}

.searchButton{
    margin-top: 5px;
    margin-bottom: 5px;
    border: black solid 2px;
    background: black;
    color: white;
    height: 30px;
    border-radius: 5px;
    width: 156px;
}

.classTaughtDiv{
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 10px;
    height: 70px;
}

.react-date-picker__button {
    position: relative;
}

.date {
    background: lightgray;
    border-radius: 0 8px 0 0;
    font-weight: bold;
    font-size: 14px;
}

.classInfoDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.info {
    display: flex;
    flex-direction: column;
    
}


#totalHours {
    margin-top: 50px;
    text-align: right;
    font-weight: bold;
}

#label {
    font-weight: bold;
}