@import url('https://fonts.googleapis.com/css?family=Vidaloka');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Vidaloka');

.nav {
    display: flex;
    background: black;
    color: white;
    box-shadow: 1px 1px lightgray;
    position: fixed;
    height: 60px;
    width: 100vw;
    margin: 0;
    top: 0;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    padding: 10px;
    z-index: 5;
}

.picTitle{
    display: flex;
    width: 80%;
    justify-content: flex-start;
    align-items: center;
    height: 80%;
}

.dailyviewATag {
    text-decoration: none;
    color: white;
    margin: 0;
}

#profileImg {
    border-radius: 360%;
    background: white;
    margin: 0 7% 0 0;
    width: 100%;
    height: 100%;
}

/* h1 {
    margin: 0 0 0 5px;
    width: 100%;
    font-size: 27px;
    height: 40%;
    font-family: 'Vidaloka', serif;
    text-align: left;
} */

.studioNavHeader {
    font-size: 24px;
    margin: 0 0 0 5px;
    width: 100%;
    height: 40%;
    font-family: 'Vidaloka', serif;
    text-align: left;
}


.navH3 {
    height: 40%;
    width: 100%;
    color: white;
    font-size: 14px;
    text-align: left;
    margin: 0 0 0 5px;
    font-family: 'Julius Sans One', sans-serif;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.dropDown {
    width: 25px;
    height: 25px;
    /* margin-top: 20px; */
}

.profileATag {
    margin: 0;
    height: 76px;
    width: 30%;
}

.menuInvis{
    display: none;
}

.menuVis{
    background: black;
    padding-top: 60px;
    padding-bottom: 15px;
    z-index: 4;
    /* height: 100vh; */
    margin-left: 10%;
    width: 90%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    box-sizing: border-box;
    
}


#profileATag {
    margin: 15px 15px 3px 8px;
    text-decoration: none;
    color: white;
    /* height: 28%; */
}

.menuOption {
    width: 100%;
    /* height: 100%; */
    color: white;
    font-size: 25px;
}

.navOptionsDiv {
    display: none
}

@media(min-width: 700px){
    .dropDown {
        display: none;
        
    }
    
    .menuVis {
        display: none
    }
    
    .navOptionsDiv {
        display: flex;
        width: 50%;
        height: 100%;
        box-sizing: border-box;
        align-items: flex-end;
        justify-content: flex-end;
        padding-right: 20px;
    }
    .navOption {
        color: white;
        margin-left: 15px;
        font-size: 18px;
    }
    
    .picTitle{
        width: 50%;
    }
    
}

@media (min-width: 1100px) {
    .nav { 
        height: 100px;
    }
    .studioNavHeader{
        font-size: 28px;
    }

    .navH3 {
        font-size: 18px;
    }
}