.nav {
    display: flex;
    background: #e1f5fe;
    color: #afc2cb;
    box-shadow: 1px 1px lightgray;
    position: fixed;
    height: 100px;
    width: 100%;
    margin: 0;
    top: 0;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    padding: 10px;
    z-index: 5;
}

.picTitle{
    display: flex;
    width: 65%;
    justify-content: space-between;
}

#profileImg {
    border-radius: 360%;
    background: white;
    margin: 0 7% 0 0;
    width: 75px;
    height: 75px;
}

h1{
    margin: 0;
    width: 65%
}

.dropDown {
    width: 50px;
    height: 50px;
}