.classDateDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#headerItems{
    width: 46%;
    height: 30px;
    margin-right: 20px;
    text-align: center;
}

.submitRoll {
    background: black;
    color: white;
    height: 50px;
    width: 150px;
    margin-top: 15px;
    margin-left: 55%;
    margin-bottom: 50px;
}

.invisable {
    display: none;
}